<div class="container top-center-flex">
  <div class="wrapper almost-full">
    <form [formGroup]="gameForm" (ngSubmit)="submit()">
      <header>
        <h1>
          <mat-icon>sports_volleyball</mat-icon>&nbsp;Jornada {{ weekNumber }}
        </h1>
        <div>
          <button mat-flat-button class="week-button" (click)="tournament()">
            <mat-icon>emoji_events</mat-icon>Torneos
          </button>
        </div>
        <div class="action-section">
          <button
            mat-flat-button
            class="info-button"
            type="button"
            (click)="reset()"
          >
            <mat-icon>cleaning_services</mat-icon>Limpiar campos
          </button>
          @if (isNew) {
            <button mat-flat-button class="success-button" type="submit">
              <mat-icon>add</mat-icon>Agregar Equipo
            </button>
          } @else {
            <button mat-flat-button class="warning-button" type="submit">
              <mat-icon>save</mat-icon>Actualizar Equipo
            </button>
          }
        </div>
      </header>
      <main>
        <mat-card class="box full">
          <mat-card-content>
            @if (gameId) {
              <h5>ID - {{ gameId }}</h5>
            }
            <div class="flex-input">
              <!-- CATEGORY -->
              <mat-form-field class="full">
                <mat-label>Categoria</mat-label>
                <mat-select formControlName="category">
                  <mat-option value="FEMENIL">FEMENIL</mat-option>
                  <mat-option value="VARONIL">VARONIL</mat-option>
                  <mat-option value="MIXTO">MIXTO</mat-option>
                </mat-select>
                @if (gameForm.controls["category"].errors?.["required"]) {
                  <mat-error>Selecciona una categoria.</mat-error>
                }
              </mat-form-field>
              <!-- DATE -->
              <mat-form-field class="full">
                <mat-label>Fecha</mat-label>
                <input
                  matInput
                  [matDatepicker]="datePicker"
                  formControlName="gameDate"
                />
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="datePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
              </mat-form-field>
              <!-- TIME -->
              <mat-form-field class="full">
                <mat-label>Hora del Partido</mat-label>
                <input
                  matInput
                  [matTimepicker]="timePicker"
                  formControlName="gameTime"
                />
                <mat-timepicker-toggle matIconSuffix [for]="timePicker" />
                <mat-timepicker interval="15min" #timePicker />
              </mat-form-field>
              <!-- PLACE -->
              <mat-form-field class="full">
                <mat-label>Lugar</mat-label>
                <mat-select formControlName="gamePlace">
                  <mat-option value="ARRIBA">Cancha Arriba</mat-option>
                  <mat-option value="ABAJO">Cancha Abajo</mat-option>
                </mat-select>
                @if (gameForm.controls["gamePlace"].errors?.["required"]) {
                  <mat-error>Especifica el Lugar.</mat-error>
                }
              </mat-form-field>
            </div>
            <div formArrayName="teams">
              @for (
                team of teams.controls;
                track $index;
                let teamIndex = $index
              ) {
                <div [formGroupName]="teamIndex">
                  <!-- TEAM -->
                  <mat-form-field class="full">
                    <mat-label>Equipo {{ teamIndex + 1 }}</mat-label>
                    <mat-select formControlName="name">
                      @for (teamOption of teamOptions; track $index) {
                        <mat-option [value]="teamOption.teamId">{{
                          teamOption.name
                        }}</mat-option>
                      } @empty {}
                    </mat-select>
                    @if (team.get("name")?.errors?.["required"]) {
                      <mat-error>Selecciona un equipo</mat-error>
                    }
                    @if (team.get("name")?.errors?.["duplicated"]) {
                      <mat-error>Los equipos son iguales.</mat-error>
                    }
                  </mat-form-field>
                  <!-- SETS -->
                  <div formArrayName="sets" class="flex-input full">
                    @for (
                      set of sets(teamIndex).controls;
                      track $index;
                      let setIndex = $index
                    ) {
                      <mat-form-field
                        floatLabel="always"
                        class="full"
                        [formGroupName]="setIndex"
                      >
                        <mat-label>Set {{ setIndex + 1 }}</mat-label>
                        <mat-icon matTextPrefix>looks_one</mat-icon>
                        <input
                          #inputForm
                          matInput
                          placeholder="Equipo {{ teamIndex + 1 }} Set {{
                            setIndex + 1
                          }}"
                          formControlName="set"
                          type="number"
                          maxlength="2"
                          required
                        />
                      </mat-form-field>
                    }
                  </div>
                  <div formArrayName="players" class="flex-input full">
                    @for (
                      player of players(teamIndex).controls;
                      track $index;
                      let playerIndex = $index
                    ) {
                      <!--
                      <div
                        [formGroupName]="playerIndex"
                        class="flex-input full"
                      >
                        <mat-slide-toggle formControlName="player">
                          {{
                            game.teamStats[teamIndex].players[playerIndex]
                              .number
                          }}
                          -
                          {{
                            game.teamStats[teamIndex].players[playerIndex].name
                          }}
                        </mat-slide-toggle>
                      </div>
                      -->
                      <section [formGroupName]="playerIndex">
                        <mat-checkbox formControlName="player"
                          >{{
                            game.teamStats[teamIndex].players[playerIndex]
                              .number
                          }}
                          -
                          {{
                            game.teamStats[teamIndex].players[playerIndex].name
                          }}</mat-checkbox
                        >
                      </section>
                    }
                  </div>
                </div>
              }
            </div>
            <div>
              <!-- DEFAULT -->
              <mat-slide-toggle formControlName="byDefault"
                >Default</mat-slide-toggle
              >
              @if (gameForm!.controls["byDefault"].errors?.["required"]) {
                <mat-error>Default is required.</mat-error>
              }
            </div>
            <!--
              @for (
                teamStat of game.teamStats;
                track $index;
                let teamIndex = $index
              ) {
                <div class="flex-input">
                  <!-- DYNAMIC SETS --
                  @for (
                    team1Set of team1Sets.controls;
                    track $index;
                    let i = $index
                  ) {
                    <label for="alias-{{ i }}">Sets:</label>
                    <input
                      id="alias-{{ i }}"
                      type="text"
                      [formControlName]="i"
                    />
                  }
                </div>
                <div class="flex-input">
                  <!-- TEAM --
                  <mat-form-field class="full">
                    <mat-label>Equipo {{ teamIndex + 1 }}</mat-label>
                    <mat-select formControlName="team{{ teamIndex + 1 }}">
                      @for (teamOption of teamOptions; track $index) {
                        <mat-option [value]="teamOption.teamId">{{
                          teamOption.name
                        }}</mat-option>
                      } @empty {}
                    </mat-select>
                  </mat-form-field>

                  <!-- SETS --
                  @for (
                    set of teamStat.setStats;
                    track $index;
                    let setIndex = $index
                  ) {
                    <mat-form-field floatLabel="always" class="full">
                      <mat-label>Set {{ setIndex + 1 }}</mat-label>
                      <mat-icon matTextPrefix>looks_one</mat-icon>
                      <input
                        #inputForm
                        matInput
                        placeholder="Equipo {{ teamIndex + 1 }} Set {{
                          setIndex + 1
                        }}"
                        formControlName="team{{ teamIndex + 1 }}Set{{
                          setIndex + 1
                        }}"
                        type="number"
                        maxlength="2"
                        required
                      />
                      @if (
                        formGroup!.controls["team1Set1"].errors?.["required"]
                      ) {
                        <mat-error>Numero de Rondas es requerido.</mat-error>
                      }
                    </mat-form-field>
                  }
                </div>
                <div class="flex-input-weeks">
                  @for (
                    player of teamStat.players;
                    track $index;
                    let playerIndex = $index
                  ) {
                    @for(player of players; track $index; let playerIndex = $index) { --
                    @if (playerIndex < teamStat.players.length) {
                      <mat-slide-toggle
                        formControlName="team{{ teamIndex + 1 }}Player{{
                          playerIndex + 1
                        }}"
                        >{{ teamStat.players[playerIndex].number }} -
                        {{ teamStat.players[playerIndex].name }}
                      </mat-slide-toggle>
                    } @else {
                      <mat-slide-toggle
                        formControlName="team{{ teamIndex + 1 }}Player{{
                          playerIndex + 1
                        }}"
                      ></mat-slide-toggle>
                    }
                  }
                </div>
                <br />
              }
                -->
          </mat-card-content>
        </mat-card>
      </main>
    </form>
    <app-week
      [days]="weeks"
      [isAdmin]="true"
      (parentEdit)="edit($event)"
      (parentDelete)="delete($event)"
    ></app-week>
  </div>
</div>
