<mat-accordion>
  @for (gamesDay of days; track $index; let gamesDayIndex = $index) {
    <mat-expansion-panel
      [expanded]="step() === gamesDayIndex"
      (opened)="setStep(gamesDayIndex)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ gamesDay[0] }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="match-container">
        @for (game of gamesDay[1]; track game) {
          <app-game [game]="game"></app-game>
        } @empty {
          <h3>No game</h3>
        }
      </div>
    </mat-expansion-panel>
  }
</mat-accordion>
