.left-background {
    background-color: #F5F7FB;
    height: 100vh;
}

.login-button {
	width: 30%;
	padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.login-input {
    padding-bottom: 10px;
}

.login-input-label {    
    font-weight: 500;
    font-size: 0.9rem;
    color: #A5A5B6;
    padding-top: 10px;
}

.login-box {
	background-color: white;
	text-align: left;
	padding: 30px; 
	border-color: #E8E7EA;
    border-style: solid;
    border-width: 2px;
	border-radius: 10px;
}
