<div class="match-box">
  <div class="match-info">
    <div
      [ngClass]="{
        'mix-color mix-bc': game.category === 'MIXTO',
        'var-color var-bc': game.category === 'VARONIL',
        'fem-color fem-bc': game.category === 'FEMENIL',
      }"
      class="match-category"
    >
      {{ game.category }}
    </div>
    <div class="match-place">
      @if (game.gamePlace === "ARRIBA") {
        <span class="arrow-up">
          <mat-icon>arrow_circle_up</mat-icon>
          {{ game.gamePlace }}
        </span>
      } @else {
        <span class="arrow-down">
          <mat-icon>arrow_circle_down</mat-icon>
          {{ game.gamePlace }}
        </span>
      }
      &nbsp;{{ game.gameDate | date: "EEEE, d MMM h:mm a" | uppercase }}
    </div>
    @if (isAdmin) {
      <div class="match-action">
        <button
          mat-flat-button
          class="danger-button"
          type="button"
          (click)="delete(game)"
          [disabled]="isProcessing"
        >
          <mat-icon>delete</mat-icon>Borrar
        </button>
        <button
          mat-flat-button
          class="primary-button"
          type="button"
          (click)="edit(game)"
          [disabled]="isProcessing"
        >
          <mat-icon>edit</mat-icon>Editar
        </button>
      </div>
    }
  </div>
  @for (teamStat of game.teamStats; track $index) {
    <div class="match-details">
      <div
        [ngClass]="{
          winner: teamStat.state === 'WINNER' && teamStat.teamId != teamFilter,
          losser: teamStat.state === 'LOSSER' && teamStat.teamId != teamFilter,
          default:
            teamStat.state === 'DEFAULT' && teamStat.teamId != teamFilter,
          'winner-selected':
            teamStat.state === 'WINNER' && teamStat.teamId == teamFilter,
          'losser-selected':
            teamStat.state === 'LOSSER' && teamStat.teamId == teamFilter,
          'default-selected':
            teamStat.state === 'DEFAULT' && teamStat.teamId == teamFilter,
        }"
        class="match-team"
      >
        {{ teamStat.teamName }}
      </div>
      <div class="match-results">
        <div
          [ngClass]="{
            winner: teamStat.state === 'WINNER',
            losser: teamStat.state === 'LOSSER',
            default: teamStat.state === 'DEFAULT',
          }"
          class="match-sets"
        >
          {{ teamStat.sets }}
        </div>
        @for (setStat of teamStat.setStats; track $index) {
          @if (setStat.state != "PENDING") {
            <div
              [ngClass]="{
                winner: setStat.state === 'WINNER',
                losser: setStat.state === 'LOSSER',
                default: setStat.state === 'DEFAULT',
              }"
              class="match-points"
            >
              {{ setStat.points }}
            </div>
          }
        }
      </div>
      <div class="match-players">
        @for (player of teamStat.players; track $index) {
          <div
            [ngClass]="player.gamePlayed ? 'game-played' : ''"
            class="match-player"
          >
            {{ player.number }}
          </div>
        } @empty {
          <div><span>-</span></div>
        }
      </div>
    </div>
  }
</div>
