<ng-container [formGroup]="passwordFormGroup">
    <div class="row">
        <div class="col">
            <label for="password" class="form-label">Password</label>
            <div class="input-group">
                <input id="password" name="password" formControlName="password"
                    [type]="viewPassword ? 'text' :'password'" class="form-control" required>
                <button (click)="togglePassword()" class="btn btn-default reveal" type="button"><i
                        [ngClass]="viewPassword ? 'bi-eye-fill' : 'bi-eye-slash'" class="bi"></i></button>
            </div>
            <app-password-strength [passwordToCheck]="passwordFormGroup.value['password']"
                (passwordValidatorOutput)="passwordStrengthUpdate($event)"></app-password-strength>
            <div class="password-warning text-start"
                *ngIf="passwordFormGroup.controls['password'].invalid && (isFormSubmitted || passwordFormGroup.controls['password'].dirty || passwordFormGroup.controls['password'].touched)">
                <div *ngIf="passwordFormGroup.controls['password'].errors?.['required']">
                    Your <b>password</b> is required
                </div>
                <div *ngIf="passwordFormGroup.controls['password'].errors?.['passwordStrength']">
                    <p>Your <b>password</b> must meet the following requirements:<br>
                        <i class="bi"
                            [ngClass]="passwordValidator.hasLowerCase ? 'bi-check-circle-fill success-condition'  : 'bi-x-circle-fill error-condition'"></i>
                        <span> At least <b>one letter.</b></span><br>
                        <i class="bi"
                            [ngClass]="passwordValidator.hasUpperCase ? 'bi-check-circle-fill success-condition'  : 'bi-x-circle-fill error-condition'"></i>
                        <span> At least <b>one capital letter.</b></span><br>
                        <i class="bi"
                            [ngClass]="passwordValidator.hasNumber ? 'bi-check-circle-fill success-condition'  : 'bi-x-circle-fill error-condition'"></i>
                        <span> At least <b>one number.</b></span><br>
                        <i class="bi"
                            [ngClass]="passwordValidator.hasSpecialChars ? 'bi-check-circle-fill success-condition'  : 'bi-x-circle-fill error-condition'"></i>
                        <span> At least <b>one special char.</b></span><br>
                        <i class="bi"
                            [ngClass]="passwordValidator.hasMinLength ? 'bi-check-circle-fill success-condition'  : 'bi-x-circle-fill error-condition'"></i>
                        <span> At least <b>8 chars</b></span><br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <label for="rePassword" class="form-label">Re-type Password</label>
            <div class="input-group">
                <input id="rePassword" name="rePassword" formControlName="rePassword"
                    [type]="viewRePassword ? 'text' :'password'" class="form-control" required>
                <button (click)="toggleRePassword()" class="btn btn-default reveal" type="button"><i
                        [ngClass]="viewRePassword ? 'bi-eye-fill' : 'bi-eye-slash'" class="bi"></i></button>
            </div>
            <div class="warning text-start"
                *ngIf="passwordFormGroup.controls['rePassword'].invalid && (isFormSubmitted || passwordFormGroup.controls['rePassword'].dirty || passwordFormGroup.controls['rePassword'].touched)">
                <div *ngIf="passwordFormGroup.controls['rePassword'].errors?.['required']">
                    Your <b>confirmation password</b> is required
                </div>
                <div *ngIf="passwordFormGroup.controls['rePassword'].errors?.['passwordMatch']">
                    Your <b>confirmation password</b> must match your password
                </div>
            </div>
        </div>
    </div>
</ng-container>