.success-condition  {
    color: green;
}

.error-condition  {
    color: Crimson;
}

.warning {
    font-size: 0.75rem;
    padding: 10px;
    text-align: start;
    color: Crimson;
}

.password-warning {
    font-size: 0.75rem;
    padding: 10px;
    text-align: start;
    color: black;
}