.success-condition {
  color: green;
}

.error-condition {
  color: Crimson;
}

.warning {
  font-size: 0.5rem;
  padding: 10px;
  text-align: start;
  color: Crimson;
}

.password-warning {
  text-align: left;
  font-size: 0.75rem;
  padding: 10px;
  text-align: start;
  color: #f44336;
}

.password-input {
  flex-shrink: 0;
  flex-grow: 1;
}
