<ng-container [formGroup]="passwordFormGroup">
  <div class="password-input">
    <mat-form-field floatLabel="always" class="full">
      <mat-label>Password</mat-label>
      <mat-icon matTextPrefix>lock</mat-icon>
      <input matInput placeholder="Password" formControlName="password" [type]="viewPassword ? 'text' :'password'"
        required minlength="8" maxlength="20">
      <mat-icon (click)="togglePassword()" matSuffix>{{iconViewPassword}}</mat-icon>
    </mat-form-field>
    <app-password-strength [strength]="passwordValidator.strength"></app-password-strength>
    <div class="password-warning text-start"
      *ngIf="passwordFormGroup.controls['password'].invalid && (isFormSubmitted || passwordFormGroup.controls['password'].dirty || passwordFormGroup.controls['password'].touched)">
      <span *ngIf="passwordFormGroup.controls['password'].errors?.['required']">
        Your password is required
      </span>
      <div *ngIf="passwordFormGroup.controls['password'].errors?.['passwordStrength']">
        <p>
          <span style='color:black;'>Your password must meet the following requirements:</span><br>
          @if (passwordValidator.hasLowerCase) {
          <mat-icon class='success-condition'>check_circle</mat-icon>

          } @else {
          <mat-icon>highlight_off</mat-icon>
          }
          <span [ngClass]="passwordValidator.hasLowerCase ? 'success-condition' : ''"> At least one letter.</span><br>

          @if (passwordValidator.hasUpperCase) {
          <mat-icon class="success-condition">check_circle</mat-icon>
          } @else {
          <mat-icon>highlight_off</mat-icon>
          }
          <span [ngClass]="passwordValidator.hasUpperCase ? 'success-condition' : ''"> At least one capital
            letter.</span><br>

          @if (passwordValidator.hasNumber) {
          <mat-icon class="success-condition">check_circle</mat-icon>
          } @else {
          <mat-icon>highlight_off</mat-icon>
          }
          <span [ngClass]="passwordValidator.hasNumber ? 'success-condition' : ''"> At least one number.</span><br>

          @if (passwordValidator.hasSpecialChars) {
          <mat-icon class="success-condition">check_circle</mat-icon>
          } @else {
          <mat-icon>highlight_off</mat-icon>
          }
          <span [ngClass]="passwordValidator.hasSpecialChars ? 'success-condition' : ''"> At least one special
            char.</span><br>
          @if (passwordValidator.hasMinLength) {
          <mat-icon class="success-condition">check_circle</mat-icon>
          } @else {
          <mat-icon>highlight_off</mat-icon>
          }
          <span [ngClass]="passwordValidator.hasSpecialChars ? 'success-condition' : ''"> At least 8 chars</span><br>
        </p>
      </div>
    </div>
  </div>
  <div class="password-input">
    <mat-form-field floatLabel="always" class="full">
      <mat-label>Re-Password</mat-label>
      <mat-icon matTextPrefix>lock</mat-icon>
      <input matInput placeholder="Password" formControlName="rePassword" [type]="viewRePassword ? 'text' :'password'"
        required minlength="8" maxlength="20">
      <mat-icon (click)="toggleRePassword()" matSuffix>{{iconViewRePassword}}</mat-icon>
      @if(passwordFormGroup.controls['rePassword'].errors?.['required']) {
      <mat-error>Your confirmation password is required.</mat-error>
      }
      @if(passwordFormGroup.controls['rePassword'].errors?.['passwordMatch']) {
      <mat-error>Your confirmation password must match your password.</mat-error>
      }
    </mat-form-field>
  </div>
</ng-container>