@if (dataSource) {
  <table
    mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">
        {{ element.tournamentId }}
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef>Año</th>
      <td mat-cell *matCellDef="let element">
        {{ element.year }}
      </td>
    </ng-container>
    <ng-container matColumnDef="rounds">
      <th mat-header-cell *matHeaderCellDef>Rondas</th>
      <td mat-cell *matCellDef="let element">
        {{ element.rounds }}
      </td>
    </ng-container>
    <ng-container matColumnDef="stage">
      <th mat-header-cell *matHeaderCellDef>Etapa</th>
      <td mat-cell *matCellDef="let element">
        {{ element.stage }}
      </td>
    </ng-container>
    <ng-container matColumnDef="regular">
      <th mat-header-cell *matHeaderCellDef>REG</th>
      <td mat-cell *matCellDef="let element">
        {{ element.regularSets }}
      </td>
    </ng-container>
    <ng-container matColumnDef="elimination">
      <th mat-header-cell *matHeaderCellDef>ELI</th>
      <td mat-cell *matCellDef="let element">
        {{ element.eliminationSets }}
      </td>
    </ng-container>
    <ng-container matColumnDef="femElimination">
      <th mat-header-cell *matHeaderCellDef>FEM</th>
      <td mat-cell *matCellDef="let element">
        {{ element.femElimination }}
      </td>
    </ng-container>
    <ng-container matColumnDef="varElimination">
      <th mat-header-cell *matHeaderCellDef>VAR</th>
      <td mat-cell *matCellDef="let element">
        {{ element.varElimination }}
      </td>
    </ng-container>
    <ng-container matColumnDef="mixElimination">
      <th mat-header-cell *matHeaderCellDef>MIX</th>
      <td mat-cell *matCellDef="let element">
        {{ element.mixElimination }}
      </td>
    </ng-container>
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>Activo</th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle
          [checked]="element.isActive"
          [disabled]="true"
        ></mat-slide-toggle>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-flat-button
          class="danger-button"
          type="button"
          (click)="delete(element)"
          [disabled]="isProcessing"
        >
          <mat-icon>delete_outline</mat-icon>Eliminar
        </button>
        &nbsp;
        <button
          mat-flat-button
          class="primary-button"
          type="button"
          (click)="edit(element)"
          [disabled]="isProcessing"
        >
          <mat-icon>edit</mat-icon>Editar
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          aria-label="expand row"
          (click)="
            expandedElement = expandedElement === element ? null : element;
            $event.stopPropagation()
          "
        >
          @if (expandedElement === element) {
            <mat-icon>keyboard_arrow_up</mat-icon>
          } @else {
            <mat-icon>keyboard_arrow_down</mat-icon>
          }
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplayWithExpand.length"
      >
        <div
          class="element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <div class="element-expanded">
            <div class="flex-input">
              <div class="flex-input">
                <button
                  mat-flat-button
                  extended
                  class="fem-button"
                  type="button"
                  (click)="team('FEMENIL', element.tournamentId)"
                  [disabled]="isProcessing"
                >
                  <mat-icon>groups</mat-icon>FEMENIL
                </button>
                <button
                  mat-flat-button
                  extended
                  class="var-button"
                  type="button"
                  (click)="team('VARONIL', element.tournamentId)"
                  [disabled]="isProcessing"
                >
                  <mat-icon>groups</mat-icon>VARONIL
                </button>
                <button
                  mat-flat-button
                  extended
                  class="mix-button"
                  type="button"
                  (click)="team('MIXTO', element.tournamentId)"
                  [disabled]="isProcessing"
                >
                  <mat-icon>groups</mat-icon>MIXTO
                </button>
              </div>
              <div class="flex-input">
                @for (elimination of element.eliminations; track $index) {
                  <button
                    mat-flat-button
                    extended
                    type="button"
                    (click)="eliminations(element.tournamentId, elimination)"
                    [disabled]="isProcessing"
                  >
                    @switch (elimination) {
                      @case ("QUARTER") {
                        <span><mat-icon>filter_8</mat-icon> Cuartos</span>
                      }
                      @case ("SEMI") {
                        <span>
                          <mat-icon>filter_4</mat-icon> Semi-Finales
                        </span>
                      }
                      @case ("FINAL") {
                        <span><mat-icon>filter_1</mat-icon> Finales</span>
                      }
                      @case ("THIRD") {
                        <span><mat-icon>filter_3</mat-icon> Tercer Lugar</span>
                      }
                    }
                  </button>
                }
              </div>
              <div class="flex-input">
                <button
                  mat-flat-button
                  extended
                  type="button"
                  (click)="
                    newGameWeek(element.tournamentId, element.weeks.length)
                  "
                  [disabled]="isProcessing"
                >
                  <mat-icon>add</mat-icon>NUEVO
                </button>
              </div>
            </div>
            <div class="flex-input-weeks">
              @for (week of element.weeks; track $index) {
                <button
                  mat-flat-button
                  extended
                  class="week-button"
                  type="button"
                  (click)="gameWeek(element.tournamentId, week)"
                  [disabled]="isProcessing"
                >
                  <mat-icon>date_range</mat-icon>JORNADA
                  {{ week }}
                </button>
              } @empty {
                <h5>No Week Added</h5>
              }
            </div>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplayWithExpand"
      class="element-row"
      [class.expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="detail-row"
    ></tr>
  </table>
} @else {
  <h4>{{ errorMessage }}</h4>
}
