<div class="container top-center-flex">
  <div class="wrapper almost-full">
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <header>
        <h1><mat-icon>emoji_events</mat-icon> Torneos</h1>
        <div class="action-section">
          <button
            mat-flat-button
            class="info-button"
            color="error"
            type="button"
            (click)="reset()"
          >
            <mat-icon>restart_alt</mat-icon>Limpiar campos
          </button>
          @if (isNew) {
          <button
            mat-flat-button
            class="success-button"
            color="accent"
            type="submit"
          >
            <mat-icon>add</mat-icon>Nuevo Tourneo Church
          </button>
          } @else {
          <button
            mat-flat-button
            class="warning-button"
            color="accent"
            type="submit"
          >
            <mat-icon>save</mat-icon>Actualizar Torneo
          </button>
          }
        </div>
      </header>
      <main>
        <mat-card class="box full">
          <mat-card-content>
            @if(tournamentId) {
            <h5>ID - {{ tournamentId }}</h5>
            }
            <div class="flex-input">
              <mat-form-field floatLabel="always" class="full">
                <mat-label>Nombre</mat-label>
                <mat-icon matTextPrefix>emoji_events</mat-icon>
                <input
                  matInput
                  placeholder="Nombre del torneo"
                  formControlName="name"
                  required
                />
                @if(formGroup!.controls['name'].errors?.['required']) {
                <mat-error>Nombre del torneo es requerido.</mat-error>
                }
              </mat-form-field>
              <mat-form-field floatLabel="always" class="full">
                <mat-label>URL</mat-label>
                <mat-icon matTextPrefix>link</mat-icon>
                <input
                  matInput
                  placeholder="URL"
                  formControlName="url"
                  type="text"
                  required
                />
                @if(formGroup!.controls['url'].errors?.['required']) {
                <mat-error>La URL es requerida.</mat-error>
                }
              </mat-form-field>
            </div>
            <div class="flex-input">
              <mat-form-field floatLabel="always" class="full">
                <mat-label>Descripción</mat-label>
                <mat-icon matTextPrefix>description</mat-icon>
                <input
                  matInput
                  placeholder="Descripción"
                  formControlName="description"
                  type="text"
                  required
                />
                @if(formGroup!.controls['description'].errors?.['required']) {
                <mat-error>Descripcion es requerida.</mat-error>
                }
              </mat-form-field>
            </div>
            <div class="flex-input">
              <mat-form-field floatLabel="always" class="full">
                <mat-label>Año</mat-label>
                <mat-icon matTextPrefix>calendar_month</mat-icon>
                <input
                  matInput
                  placeholder="Año"
                  formControlName="year"
                  type="number"
                  maxlength="4"
                  max="2100"
                  min="2000"
                  required
                />
                @if(formGroup!.controls['year'].errors?.['required']) {
                <mat-error>Año es requerido.</mat-error>
                } @if(formGroup!.controls['year'].errors?.['max'] ||
                formGroup!.controls['year'].errors?.['min'] ) {
                <mat-error>El año debe de estar entre 2000 y 2100</mat-error>
                }
              </mat-form-field>
              <mat-form-field floatLabel="always" class="full">
                <mat-label>Numero de Rondas</mat-label>
                <mat-icon matTextPrefix>tag</mat-icon>
                <input
                  matInput
                  placeholder="Rondas"
                  formControlName="rounds"
                  type="number"
                  maxlength="4"
                  required
                />
                @if(formGroup!.controls['rounds'].errors?.['required']) {
                <mat-error>Numero de Rondas es requerido.</mat-error>
                }
              </mat-form-field>
            </div>
            @if(!isNew) {
            <div class="flex-input">
              <button
                mat-fab
                extended
                class="fem-button"
                type="button"
                (click)="team('FEMENIL')"
                [disabled]="isProcessing"
              >
                <mat-icon>groups</mat-icon>FEMENIL
              </button>
              <button
                mat-fab
                extended
                class="var-button"
                type="button"
                (click)="team('VARONIL')"
                [disabled]="isProcessing"
              >
                <mat-icon>groups</mat-icon>VARONIL
              </button>
              <button
                mat-fab
                extended
                class="mix-button"
                type="button"
                (click)="team('MIXTO')"
                [disabled]="isProcessing"
              >
                <mat-icon>groups</mat-icon>MIXTO
              </button>
              <button
                mat-fab
                extended
                type="button"
                (click)="newGameWeek()"
                [disabled]="isProcessing"
              >
                <mat-icon>add</mat-icon>NUEVO
              </button>
            </div>
            <br />
            <div class="flex-input-weeks">
              @for(week of tournamentWeeks; track $index) {
              <button
                mat-fab
                extended
                class="week-button"
                type="button"
                (click)="gameWeek(week)"
                [disabled]="isProcessing"
              >
                <mat-icon>date_range</mat-icon>JORNADA {{ week.weekNumber }}
              </button>
              } @empty {
              <h5>No Week Added</h5>
              }
            </div>
            }
          </mat-card-content>
        </mat-card>
      </main>
    </form>
    @if (tableLoaded ) { @if(dataSource){
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">
          <div>
            {{ element.tournamentId }}
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">
          <div>
            {{ element.name }}
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef>Año</th>
        <td mat-cell *matCellDef="let element">
          {{ element.year }}
        </td>
      </ng-container>
      <ng-container matColumnDef="rounds">
        <th mat-header-cell *matHeaderCellDef>Rondas</th>
        <td mat-cell *matCellDef="let element">
          {{ element.rounds }}
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <div>
            <button
              mat-flat-button
              class="danger-button"
              type="button"
              (click)="delete(element)"
              [disabled]="isProcessing"
            >
              <mat-icon>delete_outline</mat-icon>Eliminar
            </button>
            &nbsp;
            <button
              mat-flat-button
              class="primary-button"
              type="button"
              (click)="edit(element)"
              [disabled]="isProcessing"
            >
              <mat-icon>edit</mat-icon>Editar
            </button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsHeader"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsHeader"></tr>
    </table>
    } @else {
    <h4>{{ errorMessage }}</h4>
    } } @else {
    <h4>Loading...</h4>
    }
  </div>
</div>
