<div class="container calculator">
    <div class="row">
        <div class="col-md">&nbsp;{{equationHistory}}</div>
    </div>
    <div class="row">
        <div class="col-md" style="font-size: x-large;">&nbsp;{{equation}}</div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-md">
            <button (click)="btnClear()" class={{clearBtnClass}}>C</button>
        </div>
        <div class="col-md">
            <button (click)="btnDelete()" class={{clearBtnClass}}><</button>
        </div>
        <div class="col-md">
            <button (click)="btnOperation('%')" class={{operationBtnClass}}>%</button>
        </div>
        <div class="col-md">
            <button (click)="btnOperation('/')" class={{operationBtnClass}}>/</button>    
        </div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-md">
            <button (click)="btnNumber(7)" class={{numberBtnClass}}>7</button>
        </div>
        <div class="col-md">
            <button (click)="btnNumber(8)" class={{numberBtnClass}}>8</button>
        </div>
        <div class="col-md">
            <button (click)="btnNumber(9)" class={{numberBtnClass}}>9</button>
        </div>
        <div class="col-md">
            <button (click)="btnOperation('x')" class={{operationBtnClass}}>x</button>    
        </div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-3">
            <button (click)="btnNumber(4)" class={{numberBtnClass}}>4</button>
        </div>
        <div class="col-md-3">
            <button (click)="btnNumber(5)" class={{numberBtnClass}}>5</button>
        </div>
        <div class="col-md-3">
            <button (click)="btnNumber(6)" class={{numberBtnClass}}>6</button>
        </div>
        <div class="col-md-3">
            <button (click)="btnOperation('-')" class={{operationBtnClass}}>-</button>
        </div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-3">
            <button (click)="btnNumber(1)" class={{numberBtnClass}}>1</button>
        </div>
        <div class="col-md-3">
            <button (click)="btnNumber(2)" class={{numberBtnClass}}>2</button>
        </div>
        <div class="col-md-3">
            <button (click)="btnNumber(3)" class={{numberBtnClass}}>3</button>
        </div>
        <div class="col-md-3">
            <button (click)="btnOperation('+')" class={{operationBtnClass}}>+</button>    
        </div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-3">
            <button (click)="btnNumber('.')" class={{numberBtnClass}}>.</button>
        </div>
        <div class="col-md-3">
            <button (click)="btnNumber(0)" class={{numberBtnClass}}>0</button>
        </div>
        <div class="col-md-6">
            <button (click)="btnEquals()" class={{equalsBtnClass}}>=</button>
        </div>
    </div>
</div>
