<p>We will be sending a reset password link to your email.</p><br>
<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <div>
    <mat-form-field floatLabel="always" class="full">
      <mat-label>Email</mat-label>
      <mat-icon matTextPrefix>mail</mat-icon>
      <input matInput placeholder="name@example.com" formControlName="email" type="email">
      @if(formGroup.controls['email'].errors?.['required']){
      <mat-error>Email is required.</mat-error>
      }
      @if(formGroup.controls['email'].errors?.['email']){
      <mat-error>Email is required.</mat-error>
      }
    </mat-form-field>
  </div>
  <app-password formGroupName="passwordForm" [password]="user.password!"
    [passwordValidator]="user.passwordValidator!"></app-password>
  <br><br>
  <div>
    <button mat-raised-button color="primary" type="submit" [disabled]="isProcessing">Request Password</button>
  </div>
</form>