// Blue Colors
$blue: #003a6a;
$clear-blue: #7c97ad;

// Gray Colors
$gray: #adb5bd;
$clear-gray: #e8e7ee;
$dark-gray: #424242;

// COLOR
.color-white {
  color: white;
}
.color-blue {
  color: $blue;
}
.color-clear-blue {
  color: $clear-blue;
}
.color-gray {
  color: $gray;
}
.color-clear-gray {
  color: $clear-gray;
}
.color-dark-gray {
  color: $dark-gray;
}
.color-red {
  color: red;
}

.color-fem {
  color: #ed647c;
}
.color-clear-fem {
  color: #ffecef;
}
.color-var {
  color: #203c6b;
}
.color-clear-var {
  color: #e4f6ff;
}
.color-mix {
  color: #347928;
}
.color-clear-mix {
  color: #DEF9C4;
}
// BACKGROUND-COLOR
.bg-color-blue {
  color: $blue;
}
.bg-color-clear-blue {
  color: $clear-blue;
}
.bg-color-gray {
  color: $gray;
}
.bg-color-clear-gray {
  color: $clear-gray;
}
.bg-color-dark-gray {
  color: $dark-gray;
}

.bg-color-fem {
  background-color: #ffecef !important;
}
.bg-color-var {
  background-color: #e4f6ff !important;
}
.bg-color-mix {
  background-color:#DEF9C4 !important;
}
