<div class="container top-center-flex">
  <div class="wrapper almost-full">
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <header>
        <h1><mat-icon>emoji_events</mat-icon> Torneos</h1>
        {{ formGroup.valid }}
        <div class="action-section">
          <button
            mat-flat-button
            class="info-button"
            color="error"
            type="button"
            (click)="reset()"
          >
            <mat-icon>restart_alt</mat-icon>Limpiar campos
          </button>
          @if (isNew) {
            <button
              mat-flat-button
              class="success-button"
              color="accent"
              type="submit"
            >
              <mat-icon>add</mat-icon>Nuevo Tourneo
            </button>
          } @else {
            <button
              mat-flat-button
              class="success-button"
              color="accent"
              type="submit"
            >
              <mat-icon>save</mat-icon>Actualizar Torneo
            </button>
          }
        </div>
      </header>
      <main>
        <mat-card class="box full">
          <mat-card-content>
            @if (tournamentId) {
              <h5>ID - {{ tournamentId }}</h5>
            }
            <div class="flex-input">
              <!-- NAME -->
              <mat-form-field floatLabel="always" class="full">
                <mat-label>Nombre</mat-label>
                <mat-icon matTextPrefix>emoji_events</mat-icon>
                <input matInput formControlName="name" required />
                @if (formGroup!.controls["name"].errors?.["required"]) {
                  <mat-error>El nombre del torneo es requerido.</mat-error>
                }
              </mat-form-field>
              <!-- URL -->
              <mat-form-field floatLabel="always" class="full">
                <mat-label>URL</mat-label>
                <mat-icon matTextPrefix>link</mat-icon>
                <input matInput formControlName="url" type="text" required />
                @if (formGroup!.controls["url"].errors?.["required"]) {
                  <mat-error>La URL es requerida.</mat-error>
                }
              </mat-form-field>
            </div>
            <div class="flex-input">
              <!-- DESCRIPTION -->
              <mat-form-field floatLabel="always" class="full">
                <mat-label>Descripción</mat-label>
                <mat-icon matTextPrefix>description</mat-icon>
                <input
                  matInput
                  formControlName="description"
                  type="text"
                  required
                />
                @if (formGroup!.controls["description"].errors?.["required"]) {
                  <mat-error>La descripcion es requerida.</mat-error>
                }
              </mat-form-field>
            </div>
            <div class="flex-input">
              <!-- YEAR -->
              <mat-form-field floatLabel="always" class="full">
                <mat-label>Año</mat-label>
                <mat-icon matTextPrefix>calendar_month</mat-icon>
                <input
                  matInput
                  formControlName="year"
                  type="number"
                  maxlength="4"
                  max="2100"
                  min="2000"
                  required
                />
                @if (formGroup!.controls["year"].errors?.["required"]) {
                  <mat-error>Año es requerido.</mat-error>
                }
                @if (
                  formGroup!.controls["year"].errors?.["max"] ||
                  formGroup!.controls["year"].errors?.["min"]
                ) {
                  <mat-error>El año debe de estar entre 2000 y 2100.</mat-error>
                }
              </mat-form-field>
              <!-- ROUNDS -->
              <mat-form-field floatLabel="always" class="full">
                <mat-label>Numero de Rondas</mat-label>
                <mat-icon matTextPrefix>tag</mat-icon>
                <input
                  matInput
                  formControlName="rounds"
                  type="number"
                  maxlength="4"
                  required
                />
                @if (formGroup!.controls["rounds"].errors?.["required"]) {
                  <mat-error>El numero de rondas es requerido.</mat-error>
                }
              </mat-form-field>
              <!-- STAGE -->
              <mat-form-field class="full">
                <mat-label>Etapa</mat-label>
                <mat-select formControlName="stage">
                  <mat-option value="REGULAR">REGULAR</mat-option>
                  <mat-option value="QUARTER">QUARTER</mat-option>
                  <mat-option value="SEMI">SEMI</mat-option>
                  <mat-option value="FINAL">FINAL</mat-option>
                </mat-select>
                @if (formGroup!.controls["stage"].errors?.["required"]) {
                  <mat-error>La etapa es requerida.</mat-error>
                }
              </mat-form-field>
            </div>
            <div class="flex-input">
              <!-- REGULAR SETS -->
              <mat-form-field floatLabel="always" class="full">
                <mat-label>Numero de Sets Regular</mat-label>
                <mat-icon matTextPrefix>tag</mat-icon>
                <input
                  matInput
                  formControlName="regularSets"
                  type="number"
                  maxlength="1"
                  required
                />
                @if (formGroup!.controls["regularSets"].errors?.["required"]) {
                  <mat-error
                    >El numero de sets en la etapa regular es
                    requerido.</mat-error
                  >
                }
              </mat-form-field>
              <!-- ELIMINATION SETS -->
              <mat-form-field floatLabel="always" class="full">
                <mat-label>Numero de Sets Eliminatorias</mat-label>
                <mat-icon matTextPrefix>tag</mat-icon>
                <input
                  matInput
                  formControlName="eliminationSets"
                  type="number"
                  maxlength="1"
                  required
                />
                @if (
                  formGroup!.controls["eliminationSets"].errors?.["required"]
                ) {
                  <mat-error
                    >El numero de sets en la etapa de Eliminatorias es
                    requerido.</mat-error
                  >
                }
              </mat-form-field>
              <!-- FEM ELIMINATION -->
              <mat-form-field floatLabel="always" class="full">
                <mat-label>Equipos a Eliminatoria (FEMENIL)</mat-label>
                <mat-icon matTextPrefix>tag</mat-icon>
                <input
                  matInput
                  formControlName="femElimination"
                  type="number"
                  maxlength="1"
                  required
                />
                @if (
                  formGroup!.controls["femElimination"].errors?.["required"]
                ) {
                  <mat-error
                    >El numero de equipos a eliminatorias (FEMENIL) es
                    requerido.</mat-error
                  >
                }
              </mat-form-field>
              <!-- VAR ELIMINATION -->
              <mat-form-field floatLabel="always" class="full">
                <mat-label>Equipos a Eliminatoria (VARONIL)</mat-label>
                <mat-icon matTextPrefix>tag</mat-icon>
                <input
                  matInput
                  formControlName="varElimination"
                  type="number"
                  maxlength="1"
                  required
                />
                @if (
                  formGroup!.controls["varElimination"].errors?.["required"]
                ) {
                  <mat-error
                    >El numero de equipos a eliminatorias (VARONIL) es
                    requerido.</mat-error
                  >
                }
              </mat-form-field>
              <!-- MIX ELIMINATION -->
              <mat-form-field floatLabel="always" class="full">
                <mat-label>Equipos a Eliminatoria (MIXTO)</mat-label>
                <mat-icon matTextPrefix>tag</mat-icon>
                <input
                  matInput
                  formControlName="mixElimination"
                  type="number"
                  maxlength="1"
                  required
                />
                @if (
                  formGroup!.controls["mixElimination"].errors?.["required"]
                ) {
                  <mat-error
                    >El numero de equipos a eliminatorias (MIXTO) es
                    requerido.</mat-error
                  >
                }
              </mat-form-field>
            </div>
            <div class="flex-input">
              <mat-slide-toggle formControlName="isActive"
                >Torneo Activo</mat-slide-toggle
              >
            </div>
          </mat-card-content>
        </mat-card>
      </main>
    </form>
    <app-admin-tournament-table
      [tournaments]="tournaments"
      (editTournament)="edit($event)"
      (deleteTournament)="delete($event)"
    ></app-admin-tournament-table>
  </div>
</div>
