<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IBA - Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/iba.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
</head>
<body>
<div class="outer" style="background-color: #337ab7;">
    <div class="container content" style="width: 90%;" >
        <br>
        <div class="row">
            <div class="col-md-7">
                <div class="row" style="padding-top: 100px; padding-rigth: 50px;">
                    <div class="col-md">
                        <h1 style="font-size: 50px; color: white; font-weight: 500;">IBA Application</h1>
                        <h4 style="color: hsla(0,0%,100%,.6);">
                            Is a private application, registration will be validated, please make sure you need to request access to this application before registration.<br/><br/>
                            Any information including personal information and financial information will be visible for all the user.
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md login-box">
                <div class="row" style="justify-content:center; padding-bottom: 20px;">
                    <h3 style="color: #1B67A6;">Autentication Required</h3>
                </div>
                <div class="row" style="justify-content:center; padding-bottom: 20px" >
                    <i style="font-size:5em; color: #93C9F5" class="fas fa-user-circle"></i>
                </div>
                <div class="row" style="justify-content:center;">
                    <p>Enter email and password to log on:</p>
                </div>
                <form th:action="@{/login}" method="POST" >
                    <div class="row general-input">
                        <div class="col-md-2" style="font-size:2em; color:#2e6da4; text-align:right;">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="col-md-9 form-group">
                            <input id="email" name="email" type="text" class="form-control" th:placeholder="Email" />
                        </div>
                    </div>
                    <div class="row general-input">
                        <div class="col-md-2" style="font-size:2em; color:#2e6da4; text-align:right;">
                            <i class="fas fa-key"></i>
                        </div>
                        <div class="col-md-9 form-group">
                            <input id="password" name="password" type="password" class="form-control" th:placeholder="Password" />
                        </div>
                    </div>
                    <div align="center" th:if="${param.error}">
                        <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
                    </div>
                    <br />
                    <div class="row general-input">
                        <div class="col-md" style="justify-content:center;">
                            <button class="btn btn-success login-button" name="Submit" value="Submit" type="submit" th:text ="Login" ></button>
                        </div>
                    </div>
                </form>
                <div class="row general-input">
                    <div class="col-md" style="login-button">
                        <a href="/registration">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="footer"></div>
</body>
</html>