<!DOCTYPE html>
<html lang="en">
<head>
    <title>IBA - ERROR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #f0f0f0;">
<div>
    <div class="container content" style="width: 80%; padding-top: 50px;" >
        <div class="row">
            <div class="col-md-10" style="color: #5c6063;">
                <h1 style="font-size: 60px;">Oops!</h1>
                <p style="font-size: 30px;">
                    Something went terrible wrong, please start praying...
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>