<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome/fontawesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome/regular.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome/all.min.css}"/>
    <!-- Internal CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <title>Jeopardy</title>
</head>
<body>
<div class="container">
    <br/>
    <div class="row text-left">
        <div class="col-6 white-box">
            <br/><br/>
            <h1>Jeopardy!</h1>
        </div>
        <div class="col-6 blue-box">
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0,js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>